/* You can add global styles to this file, and also import other style files */

body{
    background-color: lightgray;
}

.container{
    background-color: white;
    min-height: 800px;
    
}

.box{
    height: auto;
    width: 100%;
    margin: auto auto;
    margin-top: 50px;
    /* border: 5px solid black; */
}